<hello name="{{ name }}"></hello>

<h1>Candidates</h1>
<h3 class="col-md-sx">
  <input type="checkbox" value="male" name="male">Male
  <input type="checkbox" value="female" name="female">Female
  <input type="search" value="search" name="search" [(ngModel)]="search" (ngClick)=search(search)>
</h3>

<table style="width:100%">
  <tr>
    <th>#</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Gender</th>
  <tr>

  <tr *ngFor="let obj of jsonObj">
    <td>{{obj.id}}</td>
    <td>{{obj.first_name}}</td>
    <td>{{obj.last_name}}</td>
    <td>{{obj.email}}</td>
    <td>{{obj.gender}}</td>
  <tr>
</table>


<h1>Add New Candidate</h1>
First Name <input type="text" [(ngModel)]="obj.first_name" ><br>

Last Name <input type="text" [(ngModel)]="obj.last_name"><br>
  Email <input type="email" [(ngModel)]="obj.email"><br>
  Male <input type="radio" value="male"[(ngModel)]="obj.gender"><br>
   Female <input type="radio" value="female" [(ngModel)]="obj.gender"><br>
<input type="submit" (ngClick)=submit(obj)>